* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(38, 34, 34);
    color: rgb(255, 255, 255);
}

/* Navbar section  */
.colour {
    background-color: rgb(245, 144, 26);
}

a span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

button span i {
    color: rgb(55, 55, 57);
    font-size: 2rem;
}

/* offcanvas section and card Heading  */
h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

/* Heading Section  */
#heading {
    margin-top: 4rem;
}

/* Header Serach bar  */
#search-bar {
    max-width: 600px;
}

#my-search {
    height: 2.8rem;
    border-radius: 20px;
    padding: 0 20px !important;
    font-size: 1.2rem;
}

/* Card section  */
#card {
    background-color: rgb(245, 144, 26);
    padding: 10px;
    color: rgb(255, 255, 255);
}

#card img {
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}



/* meal details container */
#meal-details{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(245, 144, 26);
}
#meal-header{
    width: 70%;
    margin: auto;
}
#meal-thumbnail img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
}
#meal-instruction{
    margin: auto;
    text-align: center;
}

/* favourites offcanvus */
#favourites-body{
    background-color:rgb(38, 34, 34) ;
}